* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f8f9fa;
  font-size: 14px;
  line-height: 27px;
  padding: 0 16px;
  border-radius: 4px;
  margin: 11px 4px;
  color: #3c4043;
  background-color: #f8f9fa;
  font-family: arial, sans-serif;
}

button:hover {
  -webkit-box-shadow: 0 1px 1px RGB(0 0 0/10%);
          box-shadow: 0 1px 1px RGB(0 0 0/10%);
  background-color: #f8f9fa;
  color: #202124;
  border: 1px solid #dadce0;
}

button:hover:focus {
  outline: none;
  border: 1px solid #4285f4;
}

/*  Header style */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  margin-right: 13px;
}

nav a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  padding: 5px 7px;
  color: black;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

nav .navlink-slike {
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

nav .menu-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto 7px;
}

nav .profile-img {
  border-radius: 50%;
  cursor: pointer;
  margin: auto 7px;
  padding-left: 5px;
}

/*  main section */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 50px;
}

main .logo-animated {
  width: 340px;
  margin-bottom: 18px;
}

main .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

main .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 584px;
  padding-left: 15px;
  -webkit-box-shadow: 0 1px 0 #dadce0;
          box-shadow: 0 1px 0 #dadce0;
  margin-bottom: 20px;
}

main .search-bar:hover {
  border-color: rgba(223, 225, 229, 0);
  -webkit-box-shadow: 0 2px 0 #dadce0;
          box-shadow: 0 2px 0 #dadce0;
}

main .btns {
  margin-bottom: 10px;
}

main input {
  border: none;
  outline: none;
  font-size: 16px;
  height: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #3c4043;
}

main input:focus {
  outline: none;
}

main i {
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  color: #9aa0a6;
  font-weight: 200;
}

main .fa-keyboard {
  color: #70757a;
}

main svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: 15px;
}

main svg:hover {
  cursor: pointer;
}

main .help-ukraine {
  margin-bottom: 32px;
}

main .activity {
  font-size: 13px;
  font-weight: 500;
}

main .activity:hover {
  text-decoration: underline;
  color: #1a0dab;
}

main .g-language {
  display: inline-block;
  font-size: 13px;
  color: #3c4043;
  padding: 0 3px;
}

/* Footer */
footer {
  color: #f2f2f2;
  height: 94px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .upper-footer {
  border: 1px solid #dadce0;
  height: 50%;
  padding: 15px 30px;
}

footer p {
  font-size: 15px;
  color: #70757a;
  font-weight: 500;
}

footer .lower-footer {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

footer a {
  font-size: 14px;
  color: #70757a;
  padding: 15px;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}

footer .lower-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .lower-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */