$main-color: #fff;
$ulink-color: rgba(0, 0, 0, 0.87);
$primary-color: #3c4043;
$link-color: #1a0dab;
$footerlinks-color: #70757a;
$border-color: #dfe1e5;
$bborder-color: #dadce0;
$btn-color: #f8f9fa;
$btnhover-color: #202124;
$btnactive-color: #4285f4;
$icon-color: #9aa0a6;
$footer-color: #f2f2f2; ;
