@import './colors';
@import './config';
@import './mixins';
@import './buttons';

/*  Header style */
nav {
  @include flex(flex-end, center, row);
  height: 60px;
  margin-right: 13px;

  a {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 7px;
    color: $ulink-color;
    line-height: 24px;
  }

  .navlink-slike {
    margin-right: 15px;
  }

  a:hover {
    text-decoration: underline;
  }

  .menu-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 7px;
  }

  .profile-img {
    border-radius: 50%;
    cursor: pointer;
    margin: auto 7px;
    padding-left: 5px;
  }
}

/*  main section */

main {
  @include flex(center, center, row);
  flex-grow: 1;
  padding-bottom: 50px;

  .logo-animated {
    width: 340px;
    margin-bottom: 18px;
  }

  .content-section {
    @include flex(center, center, column);
    width: 100%;
    padding-bottom: 100px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 24px;
    height: 44px;
    width: 584px;
    padding-left: 15px;
    box-shadow: 0 1px 0 $bborder-color;
    margin-bottom: 20px;

    @media screen and(max-width: 767px) {
      width: 85%;
      height: 35px;
    }
  }

  .search-bar:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 2px 0 $bborder-color;
  }

  .btns {
    margin-bottom: 10px;
  }

  input {
    border: none;
    outline: none;
    font-size: 16px;
    height: 30px;
    flex-grow: 1;
    color: $primary-color;
    @media screen and(max-width: 767px) {
      width: 25px;
    }
  }

  input:focus {
    outline: none;
  }

  i {
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    color: $icon-color;
    font-weight: 200;

    @media screen and(max-width: 767px) {
      margin-right: 5px;
      font-size: 14px;
    }
  }

  .fa-keyboard {
    color: $footerlinks-color;
  }

  svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .help-ukraine {
    margin-bottom: 32px;
  }

  .activity {
    font-size: 13px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: $link-color;
    }
  }

  .g-language {
    display: inline-block;
    font-size: 13px;
    color: $primary-color;
    padding: 0 3px;
  }
}

/* Footer */

footer {
  background-color: $footer-color;
  height: 94px;
  @media screen and(max-width: 767px) {
    height: 138px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .upper-footer {
    @include border;
    height: 50%;
    padding: 15px 30px;

    @media screen and(max-width: 767px) {
      height: 30%;
    }
  }

  p {
    font-size: 15px;
    color: $footerlinks-color;
    font-weight: 500;
  }

  .lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media screen and(max-width: 767px) {
      height: 70%;
      flex-direction: column;
      padding: 0 10px;
    }
  }

  a {
    font-size: 14px;
    color: $footerlinks-color;
    padding: 15px;
    font-weight: 500;

    @media screen and(max-width: 767px) {
      padding: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .lower-left {
    display: flex;

    @media screen and(max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .grid1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .grid3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .grid4 {
    grid-area: 2 / 1 / 3/ 4;
    @media screen and(max-width: 767px) {
      margin-top: 7px;
    }
  }

  li {
    text-align: center;
  }

  .lower-right {
    display: flex;
    @media screen and(max-width: 767px) {
      height: 30px;
    }
  }
}
