@import './colors';
@import './config';
@import './mixins';
@import './buttons';

/*  Header style */

nav {
  @include flex(flex-end, center, row);
  height: 60px;
  margin-right: 13px;

  a {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 7px;
    color: black;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
  }

  .navlink-slike {
    margin-right: 15px;
  }

  a:hover {
    text-decoration: underline;
  }

  .menu-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: auto 7px;
  }

  .profile-img {
    border-radius: 50%;
    cursor: pointer;
    margin: auto 7px;
    padding-left: 5px;
  }
}

/*  main section */

main {
  @include flex(center, center, row);
  flex-grow: 1;
  padding-bottom: 50px;

  .logo-animated {
    width: 340px;
    margin-bottom: 18px;
  }

  .content-section {
    @include flex(center, center, column);
    width: 100%;
    padding-bottom: 100px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 24px;
    height: 44px;
    width: 584px;
    padding-left: 15px;
    box-shadow: 0 1px 0 $bborder-color;
    margin-bottom: 20px;
  }

  .search-bar:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 2px 0 $bborder-color;
  }

  .btns {
    margin-bottom: 10px;
  }

  input {
    border: none;
    outline: none;
    font-size: 16px;
    height: 30px;
    flex-grow: 1;
    color: $primary-color;
  }

  input:focus {
    outline: none;
  }

  i {
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    color: $icon-color;
    font-weight: 200;
  }

  .fa-keyboard {
    color: $footerlinks-color;
  }

  svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .help-ukraine {
    margin-bottom: 32px;
  }

  .activity {
    font-size: 13px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: $link-color;
    }
  }

  .g-language {
    display: inline-block;
    font-size: 13px;
    color: $primary-color;
    padding: 0 3px;
  }
}

/* Footer */

footer {
  color: $footer-color;
  height: 94px;

  .container {
    display: flex;
    align-items: center;
  }

  .upper-footer {
    @include border;
    height: 50%;
    padding: 15px 30px;
  }

  p {
    font-size: 15px;
    color: $footerlinks-color;
    font-weight: 500;
  }

  .lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  a {
    font-size: 14px;
    color: $footerlinks-color;
    padding: 15px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .lower-left {
    display: flex;
  }

  .lower-right {
    display: flex;
  }
}
